header {
  width: 100%;
  position: relative;
  top: 0;
  display: block;
  background-color: green;
  text-align: center;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: gray;
}
main {
  padding-bottom: 50px;
}
nav {
  width: 100%;
  background-color: pink;
  padding: 10px;
}
nav a {
  display: inline;
  padding: 10px;
  background-color: black;
}
